.ReportPage{
    border: 3px solid black;
    height: 1000px;
    width: 650px;
}

.HeaderReportPage{
    width: 100%;
    height: 70px;
    border-bottom: 2px solid black;
}

.ReportPageName, .ClueName {
    margin-left: 35px;
}

.Clue {
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.UnrealImages {
    width: 100%;
    height: auto;
    display: flex;
    margin-left: -15px;
}

.UnrealImagesItem {
    width: 100px;
    height: 100px;
    background-color: azure;
    border: 2px solid black;
    margin-left: 50px;
}

.FooterReportPage {
    width: 650px;
    height: 80px;
    border-top: 2px solid black;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    background-color: white;
}

.AddMoreButton {
    width: 150px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    margin-top: 10px;
}
