.ReportPage{
    border:  1.5px solid #cfd3d6;
    height: 1000px;
    width: 650px;
    background-color: white;
    border-radius: 15px;
    color: #43464b;

}

.HeaderReportPage{
    width: 100%;
    height: 70px;
    border-bottom: 1.5px solid #cfd3d6;
}

.ReportPageName, .ClueName {
    margin-left: 35px;
}

.Clue {
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.UnrealImages {
    width: 100%;
    height: auto;
    display: flex;
    margin-left: -15px;
}

.UnrealImagesItem {
    width: 100px;
    height: 100px;
    background-color: azure;
    border: 1.5px solid #cfd3d6;
    margin-left: 50px;
}

.FooterReportPage {
    width: 650px;
    height: 80px;
    border-top: 1.5px solid #cfd3d6;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    background-color: #67829b;
    border-radius: 0 0 15px 15px;

}

.AddMoreButton {
    width: 150px;
    height: 60px;
    margin-right: 20px;
    text-decoration: none;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ced1dc;
    color: #67829b;
    border: #999999;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;
    font: small-caps 500 20px/1 sans-serif;
    cursor: pointer;
}
.report-page{
    border: 3px solid black;
    height: 1000px;
    width: 650px;
    margin-left: 300px;
}
