
.pop-Up {
    position: fixed;
    width: 607px;
    margin: 9vh auto 0;
    background: rgb(102 129 155);
    border-radius: 15px;
    padding: 20px;
    border: 1.5px solid #cfd3d6;
}

.inputStyle{
    width: 75%;
    height: 40px;
    border-radius: 5px;
    border:  1.5px solid #cfd3d6;
    font: small-caps 500 20px/1 sans-serif;
    font-size: medium;
}::placeholder {
     color: #66819b;
 }

.Why {
    display: flex;
    justify-content: center;
    margin-top: 0;
    color:#e3e1e2;
}

.featuresContainer{
    height: 123px;
    overflow-y:scroll;
    border-radius: 5px;
    background-color: #ffffff;
    color: #66819b;
    font: small-caps 500 20px/1 sans-serif;
    font-size: medium;
}

.buttonStyle{
    height: 50px;
    width: 40%;
    border:none ;
    margin: 5px 0;
    cursor: pointer;
    background-color: #ffffff;
    color: #66819b;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;
    font: small-caps 500 20px/1 sans-serif;
}
